
{% load static %}
{% load i18n %}
<html lang="en">
<head>
<title>Smart Living - Password Reset</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<style id="" media="all">/* devanagari */
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/reset.css' %}">

<link rel="stylesheet" href="{% static 'css/_sideBar/_sideBar.css' %}">

<meta name="robots" content="noindex, follow">
</head>
<body>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
 
  <div class="container">
  <div class="row">
    <div class="col-lg-8 mb-4 order-0">
  <div class="card8">
    <br>

       <center>
        <center> <img src="{% static 'img/input.png' %}" alt="Image" class="img-fluid" width="100">

<h3 style="color:#EC9741">Password reset</h3>
 <p>Enter Your new password
one.</p></center>
<center>
 <form method="post">
     {% csrf_token %}
     {{form}}<br><br>
     <button type="Submit" class="btn btn-info" name="Send email">Rest Password</button> </form>
 </form>
</center>
</div>
</div>
</div>
</body>