{% load static %}
<html lang="en">
<head>
<title>Smart Living - Client</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<style id="" media="all">/* devanagari */
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/_sideBar/_sideBar.css' %}">

<meta name="robots" content="noindex, follow">
<style>
  .aligned {
      display: flex;
      align-items: center;
  }
    
  span {
      padding: 10px;
  }
  img{
    margin-left: 17px;
  }
  .Btn1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: #0580E8;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #AAD0F0;
    transition-duration: .3s;
  }
  
  .svg {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
  }
  
  .Btn1:hover {
    color: transparent;
  }
  
  .Btn1:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
  }
  
  .Btn1:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
  }

</style>
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
<nav id="sidebar" class="active">
  <div class="aligned">
    <h1><a href="{% url 'Resident'%}" class="logo"><img src="{% static 'img/logo.png' %}" class="avatar"></a></h1>
    <h5 id="MyHeading" style="display:none;color:white">Smart Living</h5>
  </div>
<ul class="list-unstyled components mb-5">
<li class="active">
  <a href="{% url 'Resident'%}"><span class="fa fa-home"></span> Home</a>
</li>
<li>
  <a href="{% url 'profile'%}"><span class="fa fa-user"></span> Profile</a>
</li>
<li>
  <a href="{% url 'index' %}"><span class="fa fa-comments-o"></span> Chat</a>
</li>
<li>
  <a href="{% url 'travaux' %}"><span class="fa fa-exclamation-triangle" style='color:white'></span>Construction</a></li>

<li>
<a href="{% url 'contact' %}"><span class="fa fa-paper-plane"></span> Contacts</a>
</li>
<li>
  <a href="{% url 'view_payments' %}"><span class="fa fa-usd"></span> Payments</a>
  </li>

</ul>
<div class="footer">
</div>
</nav>

<div id="content" class="p-4 p-md-5">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
<button type="button" id="sidebarCollapse" class="btn btn-primary">
  <i class="fa fa-bars"></i>
  <span class="sr-only">Toggle Menu</span>
</button>
<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <i class='fas fa-chevron-left'></i>
  </button>
  <div class="action">
    <div class="profile" onclick="menuToggle();">
        <img src="{{ user.profile.image.url }}" class="avatar" alt="">
    </div>
{% include "partials/_dropdown.html" %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
</div>
</nav>
<div class="row">
  <div class="col-lg-8 mb-4 order-0">
<div class="card1">
  <br>
  <div class="card-title d-flex align-items-start justify-content-between">
  <div class="d-flex align-items-end row">
  <div class="col-sm-7">
  <div class="card-body">
      <h5 class="card-title text-primary">Edit Profile.</h5>
  <p class="mb-4"> Edit Your Profile Here.</p>
</div>
</div>
<div class="col-sm-5 text-center text-sm-left">
  <div class="card-body pb-0 px-0 px-md-4">
    <img src="{% static 'img/profileChange.png' %}" alt=""  class="man1">
</div></div>
</div>
{% include "partials/_calender.html" %}
  </div>
  <br>
  <form method="POST" class="form" enctype="multipart/form-data">


      <h3 class="title" style="color:blue">Edit Profile </h3>
      <p class="message">      
    {% csrf_token %}
    <div class="user-box">
      <label>First Name</label>
   {{form.first_name}}


    </div>
    <div class="user-box">
      <label>Last Name</label>

   {{form.last_name}}

    </div>
    <div class="user-box">
      <label>Phone</label>
   {{profile.phone}}


</div>
   <div class="user-box">
    <label>Email</label>
   {{form.email}}


</div>

<br>
<button class="Btn1" type="submit">Save 
  <svg class="svg" viewBox="0 0 512 512">
    <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path></svg>
</button>



</form>
</div>

<script>

  var button = document.getElementById("sidebarCollapse");
  var text = document.getElementById("MyHeading");
  button.addEventListener("click", function() {
    if (text.style.display === "none") {
      text.style.display = "block";
    } else {
      text.style.display = "none";
    }
  });
  function menuToggle(){
    const toggleMenu = document.querySelector('.menu');
    toggleMenu.classList.toggle('active')
}
</script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="{% static 'js/main.js'%}"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"799f7649ffeebaf7","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.2.0","si":100}' crossorigin="anonymous"></script>
</body>
</html>


  